a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    gap: 5px 5px
}

.item {
    margin: 0;
    flex: 0 0 32.2%;
}


.logo {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

.pageButton {
    background-color: #2A7DE1;
    border-radius: 15px;
    color: white;
    display: block;
    font-size: 3rem;
    max-width: 1000px;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.pageButton:hover {
    background-color: white;
    border-radius: 15px;
    color: black;
    display: block;
    font-size: 3rem;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

