a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    margin: 0 0 0 0;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.banner {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    gap: 5px 5px
}

.help {
    display: block;
    justify-content: center;
}

.item {
    margin: 0;  
    flex: 0 0 32.2%;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 430px;
    height: auto;
}

.pageButton { 
    background-color: #fafafa;
    border-radius: 15px;  
    border: none;
    border: 2px solid #2A7DE1;
    color: #2A7DE1;
    cursor: pointer;
    display: block;
    font-size: 2.3rem;
    max-width: 900px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    width: 95%;    
}

/* .pageButton {
    background-color: #2A7DE1;
    border-radius: 15px;
    color: white;
    display: block;
    font-size: 2rem;
    max-width: 900px;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 32px;
    text-decoration: none;
    width: 95%;
} */

